extends ../layout

block content
  div.subheader
    h2 Projects 

    form(action="/projects/" , method="post")
    h1 Add Project  
      a(href="/projects/new", class="btn-new") Create Project &#43;
    
    
    table#projects 
      thead(style='width:100%', border='1')
        tr
          th Project Name 
          th Technology 
          th Purchase Type 
          th Start Date 
          th End Date 
          th Usage 
          th Additionality? (y/n)
          th Edit/Delete
          
      each project in projects 
        project
          tr
            td= project.project_name
            td= project.technology 
            td= project.purchase_type 
            td= project.start_date
            td= project.end_date 
            td= project.usage 
            td= project.additionality
            td
              a( class="btn-new-edit" href="/projects/" + project.id + "/edit") Edit
              a( class="btn-new-delete" href="/projects/" + project.id + "/delete") Delete

    div(class="chart")
    canvas(id="stackedBar")
  